<div ngClass="app">
  <div @fadeInOut ngClass="mainCard">
    <app-background [@slideAnimation]="backgroundPosition"> </app-background>
    <div class="content-container" @fadeInOut *ngIf="!resultScreen">
      <app-wrapper>
        <app-headline></app-headline>
      </app-wrapper>
      <app-wrapper>
        <app-form (formSubmitted)="showResults()"></app-form>
      </app-wrapper>
    </div>
    <div class="content-container" @fadeInOut *ngIf="resultScreen">
      <app-wrapper>
        <app-form-results (formReset)="reset()"></app-form-results>
      </app-wrapper>
      <app-wrapper>
        <app-tax-results></app-tax-results>
      </app-wrapper>
    </div>
  </div>
</div>
